*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    /* font-size: 16px; */
}

h1, h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

body{
    background-color: #fcf8ca;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 128px 120px;
    gap: 40px;
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


/* header */

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #3A35411F;
    height: 80px;
    padding: 12px 120px;
    background-color: white;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.open-menu , .close-menu {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 24px;
    right: 21px;
}

#check {
    display: none;
}

/* background utama */
.background-utama {
    width: 100%;
    height: 450px;
    background-image: url(../img/Background_Image/Backgorund_banner.jpg );
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 10px;
    position: relative;
}

.content{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 82px 140px 64px 140px;
    gap: 24px;
    border-radius: 10px;
    z-index: 2;
}

.gradient{
    height: 100%;
    width: 100%;
    background-color: #000000CC;
    opacity: 80%;
    position: absolute;
    border-radius: 10px;
}

.background-utama .content button{
    width: 370px;
    height: 50px;
    background-color: #3ECF4C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    padding: 10px 26px;
}

/* kumpulan video judl */

.kumpulan-video{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;    
}
.kategori-video{
    position: relative;
}

.kategori-video ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.kategori-video ul li {
    display: inline-block;
}

.kategori-video ul li a{
    display: inline-block;
    text-decoration: none;
}

.kategori-video ul li a{
    color: black;
    position: relative;
}


.kumpulan-video .kategori-video ul li .first::after{
    content: "";
    position: absolute;
    bottom: 0;
    transform: translateY(10px);
    left: 0;
    width: 50%;
    height: 6px;
    background-color: #F64920;
    border-radius: 10px;
}

.kumpulan-video .kategori-video ul li .first{
    color: red;
}

/* kumpulan video */

.box-card{
    display: grid;
    /* grid-template-rows: repeat(4, 430px); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
    /* border: solid; */
    /* justify-content: center; */

    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: stretch; */
}

.grid-card{
    width: 100%;
    border: solid;
}

.card{
    border: solid #3A35411F 1px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.author{
    display: flex;
    gap: 10px;
}

.author .nama-author{
    font-weight: bold;
}

.author .jabatan{
    font-size: 14px;
    font-weight: 300;
}

.author .jabatan .bold{
    font-weight: 700;
}

.rating-harga{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-harga .rating{
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-harga .jumlah-rating{
    text-decoration: underline;
    text-underline-offset: 2px;    
}

.rating-harga .harga{
    color: #3ECF4C;
    font-size: 24px;
    font-weight: 600;
}

.potong-text{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* responsive*/
@media (max-width: 910px){
    /* penulisan */
    div *{
        font-size: 14px;
    }
    h1{
        font-size: 24px;
    }

    .nav-bar{
        padding: 16px 24px;
    }

    body{
        padding: 100px 24px;
    }

    /* menampilkan hamburger menu */
    .menu{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        background-color: white;
    }
    
    .menu li{
        margin-top: 40px;
    }

    .open-menu, .close-menu{
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }

    /* banner utama */
    .content{
        padding: 64px 20px;
    }

    .background-utama .content button{
        height: fit-content;
        width: 100%;
    }

    /* kumpulan video */
    
}

